
<div class="id_section">
  <div class="id_poster">
  <img class="movie_poster" src="https://image.tmdb.org/t/p/original<%= @movie.poster %>" >
  <div>

  <div class="id_details">
  <p> Title: <%= @movie.title %> </p>
  <p> Plot: <%= @movie.plot %> </p>
  <p> Release_date: <%= @movie.released %> </p>
  <p> Ratings: <%= @movie.rating %> </p>
  </div>
</div>

<%= form_tag '/bookmarks' do %>
  <input type="hidden" name="movie_id" value="<%= @movie.id %>">
  <button type="submit">+ Favourite</button>
<% end %>


